
@{
    ViewBag.Title = "Index";
}

<h2>Indice Princiapal de Consultas</h2>
<br />
<table style="font-size:large">
    <tr><td>@Html.ActionLink("Listado Productos", "ProductoListar")</td></tr>
    <tr><td>@Html.ActionLink("Producto por nombre", "ProductoNombreListar")</td></tr>
    <tr><td>@Html.ActionLink("Listado de Pedido por cliente", "PedidoCliente")</td></tr>
</table>
<br />

