<h1>Customer's List:</h1>
<hr>
<br>
<div class="text-end">
  <button class="btn btn-primary" routerLink="form">
    New Customer
  </button>
</div>
<br>
<table class="table table-dark table-striped-columns">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="col">TimeOfCreation</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (x of customers; track x.id) {
    <tr>
      <th scope="row">{{ x.id }}</th>
      <td>{{ x.nombre }}</td>
      <td>{{ x.apellido }}</td>
      <td>{{ x.email }}</td>
      <td>{{ x.fechaCreacion | date:"dd/mm/YY HH/MM/SS a" }}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-danger" (click)="Delete(x.id)">Delete</button>
          <button class="btn btn-primary" [routerLink]="['put',x.id]">Update</button>
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
