<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Examen T2</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
		  integrity="..." crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
<div class="container mt-5">
	<h1 class="mb-4">Listar Productos</h1>
	<a th:href="@{producto/create}">Crear nuevo producto</a>
	<table class="table table-striped table-bordered">
		<thead class="table-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">ID</th>
			<th scope="col">NOMBRE</th>
			<th scope="col">CATEGORIA</th>
			<th scope="col">STOCK MAX</th>
			<th scope="col">STOCK ACTUAL</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="x, stat : ${lista}">
			<th scope="row" th:text="${stat.count}"></th>
			<td th:text="${x.id}"></td>
			<td th:text="${x.nombre}"></td>
			<td th:text="${x.categoria.descripcion}"></td>
			<td th:text="${x.stockMaximo}"></td>
			<td th:text="${x.stockActual}"></td>
		</tr>
		</tbody>
	</table>
</div>
</body>

</html>
