
@{
    //ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Indice Principal de Preguntas   </h2>
<br />
<table style="font-size:large">
    <tr><td> @Html.ActionLink("Lista de Productos", "Producto Listar") </td></tr>
</table>