<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layoutBase(~{::contenido})">

<div th:fragment="contenido">

	<div class="container mt-4">

		<form th:action="@{/boletas/registrar}" method="post">
			<div class="row mb-3 mt-5 align-items-center">
				<div class="col-md-10">
					<h1 class="m-0">Emisión de boleta</h1>
				</div>

				<div class="col-md-2">
					<button type="submit" class="btn btn-primary w-100">
						Registrar
						<i class="fa-solid fa-floppy-disk"></i>
					</button>
				</div>
			</div>

			<!-- Información de la Boleta -->
			<div class="card mb-4">
				<div class="card-body">
					<p class="m-0">
						<strong>Fecha:</strong> <span
							th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span>
					</p>
				</div>
			</div>
		</form>

		<!-- Sección de Selección de Productos -->
		<div class="card mb-4">
			<div class="card-body">

				<!-- Botón para abrir el modal -->
				<button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalProductos">
					<i class="fa-solid fa-magnifying-glass"></i> Seleccionar Producto
				</button>

				<!-- Producto Seleccionado -->
				<form novalidate th:action="@{/boletas/agregar}" method="post" th:object="${productoSeleccionado}"
					class="needs-validation">
					<div class="row g-2 align-items-end">
						<div class="col-md-2">
							<label>Código</label>
							<input type="text" class="form-control" th:field="*{codProducto}" readonly
								th:classappend="${#fields.hasErrors('codProducto')} ? 'is-invalid' : ''">
						</div>
						<div class="col-md-4">
							<label>Nombre</label>
							<input type="text" class="form-control" th:field="*{descripcion}" readonly>
						</div>
						<div class="col-md-2">
							<label>Precio</label>
							<input type="text" class="form-control" th:field="*{precio}"
								th:classappend="${#fields.hasErrors('precio')} ? 'is-invalid' : ''">
						</div>
						<div class="col-md-2">
							<label>Cantidad</label>
							<input type="number" class="form-control" th:field="*{cantidad}"
								th:classappend="${#fields.hasErrors('cantidad')} ? 'is-invalid' : ''">
						</div>
						<div class="col-md-2 d-grid">
							<button class="btn btn-success">
								<i class="fa-solid fa-plus"></i> Agregar
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- Tabla de Detalle de Productos -->
		<div class="card">
			<div class="card-body">
				<h5>Detalle de Productos</h5>
				<div class="table-responsive">
					<table class="table table-bordered align-middle">
						<thead class="table-dark">
							<tr>
								<th>Código</th>
								<th>Nombre</th>
								<th>Precio</th>
								<th>Cantidad</th>
								<th>Subtotal</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${seleccionados}">
								<td th:text="${item.codProducto}"></td>
								<td th:text="${item.descripcion}"></td>
								<td th:text="${item.precio}"></td>
								<td th:text="${item.cantidad}"></td>
								<td th:text="${item.subtotal}"></td>
								<td>
									<form th:action="@{/boletas/quitar}" method="post">
										<input type="hidden" name="codigo" th:value="${item.codProducto}" />
										<button class="btn btn-danger btn-sm">
											<i class="fa-solid fa-trash"></i> Quitar
										</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	<!-- Freagmento Modal de Selección de Productos -->
	<div th:replace="fragmentos/modal-productos :: modal-productos(${productos}, 'modalProductos')"></div>

	<th:block th:utext="${alert}"></th:block>

	<!-- Script con jQuery -->
	<script>
		$(document).ready(function () {

			// Seleccionar producto desde el modal ya asignar los controles respectivamente
			$(document).on('click', '.btnSeleccionar', function () {
				let codigo = $(this).data('codigo');
				let nombre = $(this).data('descripcion');
				let precio = $(this).data('precio');

				$('#codProducto').val(codigo);
				$('#descripcion').val(nombre);
				$('#precio').val(precio);
				$('#cantidad').val(1);

				$('#modalProductos').modal('hide');
			});
		});
	</script>
</div>

</html>