<div style="width:500px; height: 500px;">
<img [src]="img" style="width:500px; height: 500px;" alt="">
<div>
    <button class="btn btn-primary" (click)="img='https://images.pexels.com/photos/177598/pexels-photo-177598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">Imagen1</button>
    <button class="btn btn-danger" (click)="img='https://images.pexels.com/photos/30765408/pexels-photo-30765408/free-photo-of-relaxing-morning-coffee-in-hand-on-cozy-rug.jpeg?auto=compress&cs=tinysrgb&w=600'">Imagen2</button>
</div>
</div>


