@model app_Core04.Models.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idcliente" class="control-label"></label>
                <input asp-for="idcliente" class="form-control" />
                <span asp-validation-for="idcliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombrecia" class="control-label"></label>
                <input asp-for="nombrecia" class="form-control" />
                <span asp-validation-for="nombrecia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idpais" class="control-label"></label>
                <input asp-for="idpais" class="form-control" />
                <span asp-validation-for="idpais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fono" class="control-label"></label>
                <input asp-for="fono" class="form-control" />
                <span asp-validation-for="fono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
