<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ruta" value="C:\Users\JOSE ANGEL\Pictures\LAPTOP\C#\Semana2\POO\bd.txt"/>
		<add key="nombre" value="Jose Angel"/>
		<add key="apellido" value="Espinoza"/>
	</appSettings>
</configuration>