@model FrontEnd_practies2.Models.Entity.Alumno

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alumno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          @*   <div class="form-group">
                <label asp-for="idAlumno" class="control-label"></label>
                <input asp-for="idAlumno" class="form-control" />
                <span asp-validation-for="idAlumno" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidos" class="control-label"></label>
                <input asp-for="apellidos" class="form-control" />
                <span asp-validation-for="apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nroDocumento" class="control-label"></label>
                <input asp-for="nroDocumento" class="form-control" />
                <span asp-validation-for="nroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechNacimiento" class="control-label"></label>
                <input asp-for="fechNacimiento" class="form-control" />
                <span asp-validation-for="fechNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
